html {
    background: linear-gradient(to right, #9fb4e7, #758ecd);
    background-color: #758ecd;
}

body {
    height: 100%;
    padding: 80px 20px;
    background: none !important;
}

/* main card itself */
#image-manager-card
{
    margin: 0 auto;
}

h2
{
    font-size: 1.4rem;
    font-weight: 600;
    
    padding-bottom: 15px;
    
    background: #fff;
}

#image-list > .column > .card
{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

#add-image-button,
#loading-spinner
{
    padding: 30px;
}

#add-image-button > .card,
#loading-spinner > .card
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

.image-list-item .card
{
    /* cursor: pointer; */
}

.image-list-item.active .card
{
    color: #fff;
    background: #758ecd;
}

.image-list-item.active .card i
{
    background: none;
}

.card-image
{
    position: relative;
    
    padding: 2px;
}

.card-image:hover .card-buttons
{
    cursor: pointer;
    
    opacity: 1;
}

.card-buttons
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
    opacity: 0;
    background: rgba(116, 141, 205, .57);
}

.card-buttons .sel,
.card-buttons .del
{
    font-size: 3em;
    
    display: inline-block;
    
    color: #fff;
}

.card-content .media-content
{
    position: relative;
    
    max-width: 100%;
}

.image-title
{
    overflow-x: hidden;
    overflow-y: visible;
    
    width: 100%;
    max-width: calc(100% - 13px);
    margin-bottom: 4px;
    
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 4px;
    
    cursor: pointer;
    
    opacity: .8;
    background: #fff;
}

.drop-icon:hover {
    opacity: 1;
}

/** Fancy spinner **/
.spinner
{
    position: relative;
    
    width: 40px;
    height: 40px;
    margin: 10px auto;
}

.double-bounce1,
.double-bounce2
{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    
    opacity: .6;
    border-radius: 50%;
    background-color: #758ecd;
}

.double-bounce2
{
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(.0);
    }
    
    50%
    {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(.0);
        transform: scale(.0);
    }
    
    50%
    {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.progress_bar
{position: absolute; top: 0; left: 0;height: 5px;
 
 background: #758ecd;
}

.image-list-item
{
    position: relative;
    
    /* display: inline-block; */
    
    width: 250px;
    margin-top: 5px;
    margin-bottom: 25px;
    
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
    
    text-align: center;
}

.image-list-item:hover
{
    cursor: pointer;
    
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
}

.image-item span {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}


#mws-global-loading-overlay {
    background: #758ecd;
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition:opacity 0.3s linear,opacity 0.3s linear;
    -webkit-transition:opacity 0.3s linear,opacity 0.3s linear;
}
.control-material {
    margin-bottom: 2em;
}

#search-feedback {
    padding: 0.625em 0.625em 0 0.625em;
    display: inline-block;
}

.image-item {
    margin-bottom: 25px;
    margin-top: 5px;
    width: 250px;
}

.image {
    width: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-column-break-inside: avoid;
/* page-break-inside: avoid;
   break-inside: avoid; */
}

.image:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#loading {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.flex-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #fcfcfc;
    border-radius: 0.2875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.flex-card .card-body {
    padding: 30px 30px;
}
