@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
/*! layout/_colors.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Bulkit general color variables
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Bulkit colors
1. State colors
2. Social colors
3. Predefined gradients
4. Predefined box shadows
=============================================================================
***/
/* ==========================================================================
0. Bulkit colors
========================================================================== */
/* ==========================================================================
1. State colors
========================================================================== */
/* ==========================================================================
2. Social colors
========================================================================== */
/* ==========================================================================
3. Predefined gradients
========================================================================== */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* ==========================================================================
4. Predefined box shadows
========================================================================== */
/*! themes/_dashboard.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Dashboard theme variables and styles (Dashboard theme is used in the Dashboard kit)
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Bulkit colors
1. State colors
2. Social colors
3. Predefined gradients
4. Predefined box shadows
=============================================================================
***/
/* ==========================================================================
0. Theme color variables
========================================================================== */
/* ==========================================================================
1. Theme gradient
========================================================================== */
/* ==========================================================================
2. Box shadows
========================================================================== */
/* ==========================================================================
3. Pageloader
========================================================================== */
.pageloader {
  background: #758ecd !important; }

/*! _dashboard-layout.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Dashboard feed styles
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Layout
1. Footer
=============================================================================
***/
/* ==========================================================================
0. Layout wrapper
========================================================================== */
.columns.dashboard-columns .column {
  padding-top: 0;
  padding-bottom: 0; }

#template-navbar {
  margin-top: 65px;
  width: 100%;
  bottom: 0;
  top: auto;
  background-color: #7189ff;
  height: 85px; }
  #template-navbar .buttons {
    position: fixed;
    right: 20px;
    bottom: 20px; }
    #template-navbar .buttons .btn-outlined {
      color: #fff;
      margin-right: 10px; }
    #template-navbar .buttons .is-white {
      height: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }

.template-card-column {
  margin-bottom: 20px; }

#app-wrapper, .app-wrapper, .dashboard-nav {
  -webkit-transition: all .3s;
  transition: all .3s; }

#app-wrapper {
  padding-top: 65px; }

.content.column {
  padding: 12px 0 0 0 !important; }

.app-wrapper {
  padding: 60px 20px 0 20px;
  margin-left: 80px;
  min-height: 100vh; }
  .app-wrapper h3.popover-title {
    margin-top: 0 !important; }
  .app-wrapper .flex-card.is-squared {
    max-height: 270px; }
  .app-wrapper .flex-card .material-header {
    padding: 10px 20px;
    margin: 0 20px;
    margin-top: 20px;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden; }
    .app-wrapper .flex-card .material-header h3 {
      font-weight: 400;
      color: #fff;
      padding-bottom: 10px; }
    .app-wrapper .flex-card .material-header.is-primary {
      background: #7189ff;
      box-shadow: 0 14px 16px -32px rgba(0, 209, 178, 0.42), 0 4px 13px -3px rgba(0, 0, 0, 0.12), 0 8px 5px -15px rgba(0, 209, 178, 0.2) !important; }
    .app-wrapper .flex-card .material-header.is-secondary {
      background: #758ecd;
      box-shadow: 0 14px 16px -22px rgba(127, 0, 255, 0.42), 0 4px 13px 0px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(127, 0, 255, 0.2) !important; }
  .app-wrapper .flex-card .icon-header i {
    padding: 12px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 10px; }
    .app-wrapper .flex-card .icon-header i.primary {
      background-color: #7189ff; }
    .app-wrapper .flex-card .icon-header i.secondary {
      background-color: #758ecd; }
    .app-wrapper .flex-card .icon-header i.accent {
      background-color: #9fb4e7; }
  .app-wrapper .flex-card .header-control {
    position: absolute;
    right: 20px;
    top: 23px; }
    .app-wrapper .flex-card .header-control i.sl-icon-arrow-down {
      font-size: 12px !important;
      color: #A9ABAC; }
    .app-wrapper .flex-card .header-control ul {
      margin-left: 0;
      margin-top: 0; }
      .app-wrapper .flex-card .header-control ul li:hover {
        background: #758ecd !important;
        box-shadow: 0 14px 16px -22px rgba(127, 0, 255, 0.42), 0 4px 13px 0px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(127, 0, 255, 0.2) !important;
        color: #fff !important; }
    .app-wrapper .flex-card .header-control .dropContain {
      left: -20px !important; }
  .app-wrapper .flex-card .card-heading {
    padding: 20px 20px 10px 20px;
    color: #444F60;
    font-weight: 400;
    margin: 0 !important; }
    .app-wrapper .flex-card .card-heading.has-icon {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .app-wrapper .flex-card .card-heading.has-icon .sl {
        font-size: 1.1rem; }
    .app-wrapper .flex-card .card-heading.is-absolute {
      position: absolute;
      top: 10px;
      left: 10px; }
  .app-wrapper .flex-card .card-body-20 {
    padding: 20px; }
  .app-wrapper .flex-card .content {
    padding: 20px !important; }
    .app-wrapper .flex-card .content .card-title.is-tile {
      font-size: 1.45rem;
      color: #444F60;
      font-weight: 400;
      margin-top: 15px;
      float: right;
      position: relative;
      top: -20px; }
      .app-wrapper .flex-card .content .card-title.is-tile .card-stat {
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        margin-top: 5px;
        font-size: 20px; }
        .app-wrapper .flex-card .content .card-title.is-tile .card-stat.primary {
          color: #7189ff; }
        .app-wrapper .flex-card .content .card-title.is-tile .card-stat.secondary {
          color: #758ecd; }
        .app-wrapper .flex-card .content .card-title.is-tile .card-stat.accent {
          color: #9fb4e7; }
        .app-wrapper .flex-card .content .card-title.is-tile .card-stat .stat-type {
          font-size: 0.8rem !important; }
  .app-wrapper .flex-card .content.message-content h5 {
    margin-bottom: 0 !important; }
    .app-wrapper .flex-card .content.message-content h5.primary {
      color: #7189ff; }
    .app-wrapper .flex-card .content.message-content h5.secondary {
      color: #758ecd; }
  .app-wrapper .flex-card .more a {
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    left: 20px;
    transition: color 0.4s; }
    .app-wrapper .flex-card .more a.primary {
      color: #A9ABAC; }
      .app-wrapper .flex-card .more a.primary:hover {
        color: #7189ff; }
    .app-wrapper .flex-card .more a.secondary {
      color: #A9ABAC; }
      .app-wrapper .flex-card .more a.secondary:hover {
        color: #758ecd; }
  .app-wrapper .flex-card .feed-icon {
    max-height: 60px;
    margin: 15px 0 10px 0;
    padding-left: 15px; }
  .app-wrapper .flex-card .timestamp {
    font-size: 10px;
    color: #A9ABAC;
    position: absolute;
    bottom: 10px;
    right: 20px; }
  .app-wrapper .flex-card .avatar-list a {
    display: inline-block; }
    .app-wrapper .flex-card .avatar-list a img {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 10px; }
  .app-wrapper .flex-card.template-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0; }
    .app-wrapper .flex-card.template-card .card-body {
      padding: 0 !important; }
    .app-wrapper .flex-card.template-card .card-icon {
      text-align: center;
      height: 100%;
      position: absolute;
      top: 50%;
      margin-top: -5em;
      width: 100%; }
      .app-wrapper .flex-card.template-card .card-icon i {
        font-size: 8em; }
    .app-wrapper .flex-card.template-card.primary-card {
      border: 3px solid #7189ff !important; }
      .app-wrapper .flex-card.template-card.primary-card .card-icon i {
        color: #fff; }
    .app-wrapper .flex-card.template-card .card-body {
      margin-top: auto; }

/* ==========================================================================
1. Footer
========================================================================== */
footer.footer {
  border-top: 1px solid #e5e5e5;
  margin-left: 80px;
  padding-top: 80px;
  padding-bottom: 120px; }
  footer.footer .small-footer-logo {
    height: 48px;
    margin-right: 10px;
    vertical-align: bottom; }
  footer.footer .more-info-company {
    font-family: 'Nexa Light', sans-serif;
    font-size: 1.6rem; }

/*# sourceMappingURL=layout.css.map */
