/* list_view */

.list_view > ul {
    background-color: #fff;
    border: 1px solid #ededed;
    border-bottom: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0;}

.list_view > ul > li {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.list_view > ul .list-item-outer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ededed;
    align-items: center;
    padding: 10px 20px !important;}

.list_view .list-item-outer .left-wrap {
    display: flex;
}

.list_view .list-item-outer .list-item-prepend,
.list_view .list-item-outer .list-item-append {
    display: flex;
    align-items: center;
}
.list_view .list-item-outer .list-item-prepend {
    margin-right: 15px;
}

.list_view .list-item-outer .list-item-append {
    margin-left: 15px;
}

.list_view > ul > li > .list-item-outer {
    background: transparent;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
    line-height: 1.5em;

    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.list_view > ul > li:last-of-type {
    border-bottom: none;}

.list_view > ul > li .list-item-link {
    display: block;}
.list_view > ul > li .list-item-link * {
    pointer-events: none;}

.list_view > ul > li .list-item-title {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    font-size: 1.2em;}

.list_view > ul > li .list-item-overtitle,
.list_view > ul > li .list-item-undertitle {
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    opacity: 0.5;}

.list_view > ul > li .dropdown .dropdown-item {
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    padding: 10px 0 10px 10px;
    text-align: left;
    border: none;
    transition: 0.3s opacity;}
.list_view > ul > li .dropdown .dropdown-item {
    opacity: 1;
}

.list_view > ul > li .dropdown .dropdown-item svg {
    height: 27px;}

/* list type specifics: bordereless, compact, gallery */
.list_view.borderless > ul,
.list_view.borderless > ul .list-item-outer {
    border: none;
}

.list_view.compact {
    font-size: 0.8em;
}
.list_view.compact ul .list-item-outer {
    padding-bottom: 1.5em !important;
}
.list_view.compact ul .list-item-outer .dropdown-trigger .button svg {
    width: 22px;
}
.list_view.compact .avatar {
    width: 50px;
}

.list_view.gallery {
}
.list_view.gallery > ul {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 20px;
}
.list_view.gallery > ul > li {
    border: none;
    padding: 20px 30px;
    min-width: 300px;
    width: 33%;
    max-width: 500px;
}
.list_view.gallery > ul > li > .list-item-outer {
    display: block;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    padding: 30px 20px !important;
}

.list_view.gallery > ul > li .dropdown {
    position: absolute;
    right: 0;
    top: 0;
    z-index:3;
}

.list_view.gallery > ul > li .dropdown.dropdown-trigger .button svg {
    width: 20px;
    margin-right: 10px;
}

/* reset list stuff */
.list_view.gallery .left-wrap {
    display: block;
}
.list_view.gallery .list-item-prepend,
.list_view.gallery .list-item-append {
    margin: 0;
    display: block;
}

/* head */
.list_view .list-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}
.list_view .list-head-right {
    display: flex;
    align-items: center;
    margin: -10px;
}
.list_view .list-head-right > div,
.list_view .list-head-right > button {
    margin: 0 10px;
}

/* avatar */
.list_view.gallery .avatar {
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.list_view .avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* search area */
.list_view .search-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.list_view.gallery .search-area {
    margin-bottom: -30px;
}
.list_view .search-area .button {
    position: absolute;
    border-top: none;
    border-bottom: none;
}
.list_view .search-area .button svg {
    height: 22px;
}
.list_view .search-area .button svg path:not([fill=none]) {
    fill: #363636;
}

.list_view .list-placeholder {
    text-align: center;
    border: 1px solid #ededed;
    margin: 40px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
}

.list_view .list-placeholder h1 {
    margin: 50px;
    font-size: 1.5em;
}

.list_view .list-placeholder svg {
    max-width: 600px;
    margin: 40px 20px 80px 20px;
}

/* feed */
.list_view.feed > ul {
    padding-left: 30px;
}
.list_view.feed > ul > li {
    padding-left: 10px;
    position: relative;
    border-left: 2px solid #ededed;
}
.list_view.feed > ul > li:after {
    content: "";
    display: block;
    position: absolute;
    top: 43%;
    left: -8px;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #ededed;
}
.list_view.feed.compact > ul {
    padding-left: 25px;
}
.list_view.feed.compact > ul > li {
    padding-left: 5px;
}
.list_view.feed.compact > ul > li:after {
    top: 33%;
}
