body {
  margin: 0;
  font-family: Arial;
}

/******* Sections *********/
section[section] {
    position: relative;
}
section[section] .mws-content {
    position: relative !important;
    z-index: 2;
}
section[section] > .mws-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mws-content > p:last-of-type {
    margin-bottom: 0;
}

 /******** Background repeat ********/
[data-background-stretch=cover] {
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
[data-background-parallax=parallax] {
    background-attachment: fixed;
}


[data-background-repeat=repeat] {
    background-repeat: repeat;
}
[data-background-repeat=repeat-x] {
    background-repeat: repeat-x;
}
[data-background-repeat=repeat-y] {
    background-repeat: repeat-y;
}
[data-background-repeat=no-repeat] {
    background-repeat: no-repeat;
}


[data-background-align="left"] {
    background-position: left;
}
[data-background-align="right"] {
    background-position: right;
}
[data-background-align="top"] {
    background-position: top center;
}
[data-background-align="center"] {
    background-position: center center;
}
[data-background-align="bottom"] {
    background-position: bottom center;
}


/* Hightlight */
.highlight {
    background-image: -webkit-linear-gradient(bottom, #f53d6a 0%, #f53d6a 50%, rgba(245,61,106,0) 50%);
    background-image: linear-gradient(0deg, #f53d6a 0%, #f53d6a 50%, rgba(245,61,106,0) 50%);
    background-repeat: no-repeat;
    background-position: -410px;
    -webkit-transition: 0.5s 0.25s background-position;
    transition: -1.5s 0.25s background-position;
    background-position: 0;
}

.highlight-underline {
    position: relative;
    text-decoration: none;
}
.highlight-underline::before {
    content: "";
    position: absolute;
    left: -5%;
    bottom: -1px;
    width: 110%;
    height: 8px;
    background-color: yellow;
    z-index: -1;
}

.highlight-large {
    position: relative;
    display: inline-block;
    background-color: yellow;
    transform: scale(1.5) rotate(-2deg) skew(-20deg);
    z-index: -1;
}
