#stage {
    position:relative;
}
.pin-form-wrapper {
    position: absolute;
    z-index: 9999;
}

.pin-form {
    width: 100%;
    min-width: 440px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #fff;
    border-radius: 0.2875rem;
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.pin-form > .field,
.pin-form > div > .field,
.pin-form .submit-wrap {
    padding: .5rem 30px;
}

.pin-form > .field .field {
    padding: 0;
}

/** Fields group **/
.pin-form > .fields-group,
.pin-form > .list > .fields-group {
    display: flex;
    position:relative;
    padding: .5rem 30px;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pin-form > .list > div {
    /* border-top: 1px solid #f8f8f8; */
}

.pin-form .fields-group > .field {
    flex-grow: 1;
    padding: .5rem 15px;
}

.pin-form > .fields-group,
.pin-form > .list > .fields-group {
    margin-left: -15px;
    margin-right: -15px;
}

/*.pin-form > .fields-group > .field:first-of-type,
.pin-form > .list > .fields-group > .field:first-of-type {
    padding-left: 0;
}

.pin-form > .fields-group > .field:last-of-type,
.pin-form > .list > .fields-group > .field:last-of-type {
    padding-right: 0;
}*/

@media (max-width: 600px) {
    .pin-form > .fields-group,
    .pin-form > .list > .fields-group {
	display: block !important;
    }

    .fields-group > .field {
	width: 100% !important;
    }
}

/* fix border */
.pin-form > .list > .fields-group {
    border-bottom: none;}
.pin-form > .list > .fields-group.is-visible:not(.is-last):before {
    content: ' ';
    height: 1px;
    width: calc(100% + 35px);
    background: #e5e5e5;
    margin: 20px -15px;}

/** Font styling **/
.pin-form > p,
.pin-form > h1,
.pin-form > h2,
.pin-form > h3 {
    padding-left: 30px;
    padding-right: 30px;
}

.pin-form > hr {
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 0.8rem 15px 2rem 15px;
}

.pin-form > p {
    font-size: 1.2rem;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.3em !important;
    margin-top: 2em;
    color: #444F60;
}

.pin-form > p+p {
    font-size: 0.9rem;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.5em;
    color: #999;
}

.pin-form > p+.field {
    margin-top: 0.9em;
}

.pin-form > h1,
.pin-form > h2,
.pin-form > h3 {
    color: #444F60;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-top: 0;
}

.pin-form > h1 {
    font-size: 1.35rem;
}

.pin-form > h1:first-child {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    background: #f2f2f2;
    padding: 14px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    background: #f2f2f2;
    color: #444F60 !important;
}

.pin-form > h2 {
    font-size: 1.2rem;
}

.pin-form > h3 {
    font-size: 1.05rem;
}

.pin-form > h4 {
    font-size: 0.9rem;
}

.pin-form > h5 {
    font-size: 0.75rem;
}

.pin-form > h6 {
    font-size: 0.6rem;
}

.pin-form .field .field-label{
    padding-bottom: 5px;
    color: #999;
    /*font-size: 0.9rem;*/
    font-size: 15px;
    text-align: left;
    box-sizing: unset;
}

.pin-form .field.switch-field .field-label {
    padding-bottom: 0 !important;
}
.pin-form .field.switch-field .switch[type="checkbox"]+label {
    padding-top: 0 !important;
}
.pin-form .field.switch-field .switch[type="checkbox"]+label div {
    display: inline-block;
    margin-top: -3px;
}

.pin-form > .field input,
.pin-form > .field textarea {
    /* todo: not sure if this was needed */
    /* width: calc(100% - 1.22em) */
}

.pin-form .fr-box.fr-basic,
.pin-form .second-toolbar {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.pin-form .fr-toolbar.fr-top {
    border-radius: 5px 5px 0 0 !important;
    -moz-border-radius: 5px 5px 0 0 !important;
    -webkit-border-radius: 5px 5px 0 0 !important;
}


.pin-form .fr-box.fr-basic .fr-wrapper {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-bottom: 0;
}

.pin-form .second-toolbar {
    border: none;
}

.pin-form .fr-box.fr-basic.fr-top .fr-wrapper {
    border-bottom: 1px solid #ccc;
}

.pin-form .switch+label+.switch-on .field,
.pin-form .switch+label+.switch-on+.switch-off .field {
    padding-left: 0;
    padding-right: 0;
}

/** button **/
.pin-form .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  /*font-size: 1rem;*/
  font-size: 16px;
  font-weight: 400;
  height: 2.25em;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  transition: all 0.5s;
}
.pin-form .button:focus, .pin-form .button:active {
  outline: none;
}
.pin-form .button:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pin-form .button:focus {
  border-color: #3273dc;
  color: #363636;
}
.pin-form .button:active {
  border-color: #4a4a4a;
  color: #363636;
}
.pin-form .button.is-fullwidth {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.pin-form .button.no-lh {
  line-height: 0 !important;
}
.pin-form .button.rounded {
  border-radius: 500px;
}
.pin-form .button:focus {
  border-color: #ccc;
}
.pin-form .button.big {
    padding: 13px 30px;
    line-height: initial;
    height: auto;
}
.pin-form .button.is-fullwidth {
  display: block !important;
  width: 100% !important;
  text-align: center !important;
}
.pin-form .button.primary {
    outline: none;
    border-color: #7189ff;
    background-color: #7189ff;
    color: #fff;
    transition: all 0.5s;
}
.pin-form .button.secondary {
    outline: none;
    border-color: #758ecd;
    background-color: #758ecd;
    color: #fff;
    transition: all 0.5s;
}
.pin-form .button.is-danger {
    background-color: #f14668;
    border-color: transparent;
    color: #fff;
}
.pin-form .button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #f14668;
    color: #f14668;
}
.button.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
}
.button.is-rounded {
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.pin-form .image-select-wrap {
    display: flex;
    align-items: center;
}
.pin-form .image-select-wrap button {
    font-size: 14px;
    margin-right: 10px;
}

.pin-form .preview-image {
    margin-right: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.pin-remove-button,
.pin-form-close-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 0;
    outline: none;
    position: relative;
    vertical-align: top;
    align-self: center;
    width: 30px;
    height: 30px;
    position: absolute;
}

.pin-remove-button {
    width: 20px;
    height: 20px;
    margin: 2px 0 0 3px;
}

.pin-remove-button:hover,
.pin-form-close-button:hover {
    background-color: rgba(10,10,10,0.3);
}

.pin-remove-button:before,
.pin-remove-button:after,
.pin-form-close-button:before,
.pin-form-close-button:after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    height: 2px;
    width: 50%;
}

.pin-remove-button:after,
.pin-form-close-button:after {
    height: 50%;
    width: 2px;
}

.pin-form-close-button {
    position: absolute;
    top: 11px;
    right: 11px;
    height: 30px;
    width: 30px;
    z-index: 99999999;
}

/** loading button spinner **/
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.button.is-loading::after  {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.pin-form .submit-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}




/** responsiveness **/
@media (max-width: 500px) {
    .pin-form {
        min-width: 95%;
        margin-top: 70px;
    }
}


/** accordion capability **/
.pin-form > hr:first-child {
    margin-top: 0;
    border: none;
    height: 0;
}
.pin-form > hr.accordion {
    margin-left: 0;
    margin-right: 0;
}
.pin-form > hr.accordion + p:not(.open) {
    padding-bottom: 20px;
    padding-top: 20px;
    cursor:pointer;
    margin-top: calc(-2rem - 2px);
    margin-bottom: -0.8rem !important;
    background-color: transparent;
    color: inherit;
}
.pin-form > hr.accordion + p:hover:not(.open) {
    background-color: #e5e5e5
}
.pin-form > hr.accordion + p {
    padding-bottom: 20px;
    padding-top: 20px;
    cursor:pointer;
    background: #758ecd;
    color: #fff;
    transition: 0.2s;
    margin-top: calc(-2rem - 2px);
}
.pin-form > hr.accordion + p:not(.open):last-of-type {
    border-bottom: 1px solid #e5e5e5;
}

/******* visibility rules ********/

/* hide all p */
.pin-form > hr.accordion ~ div:not(.submit-wrap),
.pin-form > hr.accordion + p ~ p {
    display: none !important;
}
/* hide all after p.open after hr.accordion */
.pin-form > hr.accordion + p.open ~ hr.accordion + p ~ div:not(.submit-wrap),
.pin-form > hr.accordion + p.open ~ hr.accordion + p ~ div + p,
.pin-form > hr.accordion + p.open ~ hr.accordion + p ~ p + p  {
    display: none !important;
}
/* show accordion headers */
.pin-form > hr.accordion + p,
.pin-form > hr.accordion + p ~ hr.accordion + p,
/* show all after p.open */
.pin-form > hr.accordion + p.open ~ div,
.pin-form > hr.accordion + p.open ~ p {
    display: inherit !important;
}

.pin-form > hr.accordion + p.open {
    border-bottom: 1px solid #e5e5e5;
}

/* display submit wrap at all times */
.pin-form > hr.accordion + p ~ div.submit-wrap {
    display: inherit !important;
    border-top: none;
}

/* arrows */
.pin-form > hr.accordion + p {
    position: relative;
}
.pin-form > hr.accordion + p:after {
    content: ' ';
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -10px;
    display: block;
}
.pin-form > hr.accordion + p:not(.open):after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z' fill='%23444F60'/%3E%3C/svg%3E");
}
.pin-form > hr.accordion + p.open:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z' fill='%23fff'/%3E%3C/svg%3E");
}
.pin-form > hr.accordion + p {
    border-radius: 3px;
}

.pin {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    padding: 0 27px 0px 8px;
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.solve-pin {
    position: absolute;
}
.solve-pin .button {
    padding: 0 8px !important;
    border-radius: 3px;
    height: 2em;
}
