@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
/*! layout/_colors.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Bulkit general color variables
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Bulkit colors
1. State colors
2. Social colors
3. Predefined gradients
4. Predefined box shadows
=============================================================================
***/
/* ==========================================================================
0. Bulkit colors
========================================================================== */
/* ==========================================================================
1. State colors
========================================================================== */
/* ==========================================================================
2. Social colors
========================================================================== */
/* ==========================================================================
3. Predefined gradients
========================================================================== */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* ==========================================================================
4. Predefined box shadows
========================================================================== */
/*! themes/_dashboard.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Dashboard theme variables and styles (Dashboard theme is used in the Dashboard kit)
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Bulkit colors
1. State colors
2. Social colors
3. Predefined gradients
4. Predefined box shadows
=============================================================================
***/
/* ==========================================================================
0. Theme color variables
========================================================================== */
/* ==========================================================================
1. Theme gradient
========================================================================== */
/* ==========================================================================
2. Box shadows
========================================================================== */
/* ==========================================================================
3. Pageloader
========================================================================== */
.pageloader {
  background: #758ecd !important; }

/*! _dashboard-projects.scss | Bulkit | CSS Ninja */
/* ==========================================================================
Dashboard projects styles
========================================================================== */
/***
TABLE OF CONTENTS
=============================================================================
0. Page Title
1. Tabs
2. Project lists
3. Project modals
4. Tasks
5. Dropdown
6. Files and Activity
7. Media Queries
=============================================================================
***/
/* ==========================================================================
0. Page Title
========================================================================== */
.project-title, .title {
  font-size: 2.5rem !important;
  color: #444F60 !important; }

.project-tagline, .tagline {
  font-weight: 400 !important;
  color: #999 !important; }

.project-members-avatars {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .project-members-avatars .face {
    height: 54px;
    width: 54px;
    border-radius: 50%; }
    .project-members-avatars .face:not(:first-child) {
      margin-left: -18px; }
    .project-members-avatars .face.is-fake {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #758ecd;
      color: #fff;
      font-weight: 600;
      font-size: .9rem;
      border: 4px solid #f4f6fb; }
    .project-members-avatars .face img {
      border: 4px solid #f4f6fb;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      max-height: 54px; }

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ededed;
  cursor: pointer;
  transition: all .3s; }
  .add-button i {
    color: #999;
    font-size: 18px;
    transition: inherit; }
  .add-button:hover {
    background: #fff; }
    .add-button:hover i {
      color: #758ecd; }

/* ==========================================================================
1. Tabs
========================================================================== */
.layout-tabs .tabs ul {
  margin: 0;
  background: #EEF2F5;
  padding: 8px;
  border-radius: 6px; }
  .layout-tabs .tabs ul li {
    margin: 0 5px; }
    .layout-tabs .tabs ul li.is-active a {
      background: #fff;
      font-size: 1.05rem;
      color: #758ecd; }
  .layout-tabs .tabs ul a {
    border: none;
    padding: 0.7em 1em;
    font-weight: 500;
    border-radius: 6px !important;
    color: #A9ABAC;
    transition: all .3s; }

/* ==========================================================================
2. Project lists
========================================================================== */
.projects-list-wrapper .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .projects-list-wrapper .list-header .list-title {
    display: inherit;
    align-items: inherit; }
    .projects-list-wrapper .list-header .list-title span {
      font-size: 2rem;
      font-weight: 600;
      color: #444F60;
      display: block; }
  .projects-list-wrapper .list-header .list-filter {
    min-width: 250px; }
    .projects-list-wrapper .list-header .list-filter .control {
      position: relative; }
      .projects-list-wrapper .list-header .list-filter .control input {
        padding-left: 40px; }
      .projects-list-wrapper .list-header .list-filter .control span {
        position: absolute;
        left: 12px;
        top: 10px;
        color: #cecece;
        font-size: 20px; }
.projects-list-wrapper .list-body {
  padding: 40px 0; }
  .projects-list-wrapper .list-body .project-card {
    padding: 20px;
    border-radius: 6px; }
    .projects-list-wrapper .list-body .project-card .header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .projects-list-wrapper .list-body .project-card .header span {
        display: block;
        font-size: 20px;
        color: #999;
        cursor: pointer; }
    .projects-list-wrapper .list-body .project-card .project-members {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0; }
      .projects-list-wrapper .list-body .project-card .project-members .face {
        height: 38px;
        width: 38px;
        border-radius: 50%; }
        .projects-list-wrapper .list-body .project-card .project-members .face:not(:first-child) {
          margin-left: -12px; }
        .projects-list-wrapper .list-body .project-card .project-members .face.is-fake {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #758ecd;
          color: #fff;
          font-weight: 600;
          font-size: .9rem;
          border: 2px solid #f4f6fb; }
        .projects-list-wrapper .list-body .project-card .project-members .face img {
          border: 2px solid #f4f6fb;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          max-height: 38px; }
    .projects-list-wrapper .list-body .project-card .progress-block {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0; }
      .projects-list-wrapper .list-body .project-card .progress-block .progress {
        width: 75%;
        margin-bottom: 0; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-xs {
          height: .35rem !important; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-red::-webkit-progress-value {
          background-color: #FF7273; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-red::-moz-progress-bar {
          background-color: #FF7273; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-red::-ms-fill {
          background-color: #FF7273; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-orange::-webkit-progress-value {
          background-color: #eda514; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-orange::-moz-progress-bar {
          background-color: #eda514; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-orange::-ms-fill {
          background-color: #eda514; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-green::-webkit-progress-value {
          background-color: #7189ff; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-green::-moz-progress-bar {
          background-color: #7189ff; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-green::-ms-fill {
          background-color: #7189ff; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-secondary::-webkit-progress-value {
          background-color: #758ecd; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-secondary::-moz-progress-bar {
          background-color: #758ecd; }
        .projects-list-wrapper .list-body .project-card .progress-block .progress.is-secondary::-ms-fill {
          background-color: #758ecd; }
      .projects-list-wrapper .list-body .project-card .progress-block .task-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        color: #999; }
        .projects-list-wrapper .list-body .project-card .progress-block .task-count .sl {
          font-size: 1.2rem;
          color: #cecece;
          margin: 0 5px; }
  .projects-list-wrapper .list-body .team-card {
    padding: 20px;
    border-radius: 6px; }
    .projects-list-wrapper .list-body .team-card .header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .projects-list-wrapper .list-body .team-card .header span {
        display: block;
        font-size: 20px;
        color: #999;
        cursor: pointer; }
    .projects-list-wrapper .list-body .team-card .project-members {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .projects-list-wrapper .list-body .team-card .project-members .face {
        height: 38px;
        width: 38px;
        border-radius: 50%; }
        .projects-list-wrapper .list-body .team-card .project-members .face:not(:first-child) {
          margin-left: -12px; }
        .projects-list-wrapper .list-body .team-card .project-members .face.is-fake {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #758ecd;
          color: #fff;
          font-weight: 600;
          font-size: .9rem;
          border: 2px solid #f4f6fb; }
        .projects-list-wrapper .list-body .team-card .project-members .face img {
          border: 2px solid #f4f6fb;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          max-height: 38px; }
    .projects-list-wrapper .list-body .team-card .team-info {
      margin-bottom: 30px;
      font-size: 1.1rem;
      font-weight: 500;
      color: #999; }
  .projects-list-wrapper .list-body .member-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0; }
    .projects-list-wrapper .list-body .member-box img {
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    .projects-list-wrapper .list-body .member-box .member-info {
      padding: 0 10px; }
      .projects-list-wrapper .list-body .member-box .member-info span {
        display: block; }
      .projects-list-wrapper .list-body .member-box .member-info .name {
        font-size: 1.1rem;
        font-weight: 500;
        color: #444F60; }
      .projects-list-wrapper .list-body .member-box .member-info .role {
        color: #A9ABAC;
        font-size: .95rem; }
  .projects-list-wrapper .list-body.has-padding-bottom {
    padding-bottom: 100px; }

/* ==========================================================================
3. Project modals
========================================================================== */
.create-project-modal h2, .create-task-modal h2, .create-page-modal h2 {
  font-size: 1.4rem;
  font-weight: 600;
  background: #fff;
  padding-top: 15px; }
.create-project-modal .flex-card, .create-task-modal .flex-card, .create-page-modal .flex-card {
  border-radius: 6px; }
.create-project-modal .project-members, .create-task-modal .project-members, .create-page-modal .project-members {
  display: flex;
  justify-content: center;
  align-items: center; }
  .create-project-modal .project-members .face, .create-task-modal .project-members .face, .create-page-modal .project-members .face {
    height: 48px;
    width: 48px;
    border-radius: 50%; }
    .create-project-modal .project-members .face:not(:first-child), .create-task-modal .project-members .face:not(:first-child), .create-page-modal .project-members .face:not(:first-child) {
      margin-left: -12px; }
    .create-project-modal .project-members .face.is-fake, .create-task-modal .project-members .face.is-fake, .create-page-modal .project-members .face.is-fake {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #758ecd;
      color: #fff;
      font-weight: 600;
      font-size: .9rem;
      border: 2px solid #f4f6fb; }
    .create-project-modal .project-members .face img, .create-task-modal .project-members .face img, .create-page-modal .project-members .face img {
      border: 2px solid #f4f6fb;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      max-height: 48px; }
.create-project-modal .modal-filter, .create-task-modal .modal-filter, .create-page-modal .modal-filter {
  margin: 20px; }
  .create-project-modal .modal-filter .control, .create-task-modal .modal-filter .control, .create-page-modal .modal-filter .control {
    position: relative; }
    .create-project-modal .modal-filter .control input, .create-task-modal .modal-filter .control input, .create-page-modal .modal-filter .control input {
      padding-left: 40px; }
    .create-project-modal .modal-filter .control span, .create-task-modal .modal-filter .control span, .create-page-modal .modal-filter .control span {
      position: absolute;
      left: 12px;
      top: 10px;
      color: #cecece;
      font-size: 20px; }
.create-project-modal .card-body, .create-task-modal .card-body, .create-page-modal .card-body {
  background: #fff;
  border-radius: 0;
  padding: 10px 30px 10px 30px;
  max-height: 440px;
  overflow-y: auto; }
  .create-project-modal .card-body::-webkit-scrollbar, .create-task-modal .card-body::-webkit-scrollbar, .create-page-modal .card-body::-webkit-scrollbar {
    width: 10px; }
  .create-project-modal .card-body::-webkit-scrollbar-thumb, .create-task-modal .card-body::-webkit-scrollbar-thumb, .create-page-modal .card-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2); }
  .create-project-modal .card-body label, .create-task-modal .card-body label, .create-page-modal .card-body label {
    font-size: 1.2rem;
    font-weight: 500; }
  .create-project-modal .card-body .is-fieldset, .create-task-modal .card-body .is-fieldset, .create-page-modal .card-body .is-fieldset {
    margin-bottom: 10px; }
  .create-project-modal .card-body .field-label, .create-task-modal .card-body .field-label, .create-page-modal .card-body .field-label {
    font-weight: 400;
    color: #A9ABAC; }
  .create-project-modal .card-body input, .create-project-modal .card-body textarea, .create-task-modal .card-body input, .create-task-modal .card-body textarea, .create-page-modal .card-body input, .create-page-modal .card-body textarea {
    box-shadow: none !important;
    border-radius: 6px; }
    .create-project-modal .card-body input.is-medium, .create-project-modal .card-body textarea.is-medium, .create-task-modal .card-body input.is-medium, .create-task-modal .card-body textarea.is-medium, .create-page-modal .card-body input.is-medium, .create-page-modal .card-body textarea.is-medium {
      height: 40px; }
    .create-project-modal .card-body input.is-rounded, .create-project-modal .card-body textarea.is-rounded, .create-task-modal .card-body input.is-rounded, .create-task-modal .card-body textarea.is-rounded, .create-page-modal .card-body input.is-rounded, .create-page-modal .card-body textarea.is-rounded {
      border-radius: 100px !important; }
  .create-project-modal .card-body .form-footer, .create-task-modal .card-body .form-footer, .create-page-modal .card-body .form-footer {
    text-align: right; }
    .create-project-modal .card-body .form-footer button, .create-task-modal .card-body .form-footer button, .create-page-modal .card-body .form-footer button {
      font-weight: 500;
      color: #fff;
      padding: 20px;
      border-radius: 6px;
      line-height: 0;
      background: #758ecd; }
      .create-project-modal .card-body .form-footer button:hover, .create-task-modal .card-body .form-footer button:hover, .create-page-modal .card-body .form-footer button:hover {
        box-shadow: 0 14px 16px -22px rgba(127, 0, 255, 0.42), 0 4px 13px 0px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(127, 0, 255, 0.2) !important; }
  .create-project-modal .card-body .members-select .member-row, .create-task-modal .card-body .members-select .member-row, .create-page-modal .card-body .members-select .member-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px; }
    .create-project-modal .card-body .members-select .member-row img, .create-task-modal .card-body .members-select .member-row img, .create-page-modal .card-body .members-select .member-row img {
      height: 36px;
      width: 36px;
      border-radius: 50%; }
    .create-project-modal .card-body .members-select .member-row span, .create-task-modal .card-body .members-select .member-row span, .create-page-modal .card-body .members-select .member-row span {
      padding: 0 15px;
      display: block;
      font-weight: 500; }
    .create-project-modal .card-body .members-select .member-row .b-checkbox, .create-task-modal .card-body .members-select .member-row .b-checkbox, .create-page-modal .card-body .members-select .member-row .b-checkbox {
      margin-left: auto;
      width: 18px;
      height: 18px; }
      .create-project-modal .card-body .members-select .member-row .b-checkbox label:before, .create-task-modal .card-body .members-select .member-row .b-checkbox label:before, .create-page-modal .card-body .members-select .member-row .b-checkbox label:before {
        background: #ededed; }
      .create-project-modal .card-body .members-select .member-row .b-checkbox input:checked + label::before, .create-task-modal .card-body .members-select .member-row .b-checkbox input:checked + label::before, .create-page-modal .card-body .members-select .member-row .b-checkbox input:checked + label::before {
        background-color: #758ecd;
        border-color: #758ecd; }

.invite-user-modal h2, .icon-action-modal h2 {
  padding: 14px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  background: #f2f2f2; }
.invite-user-modal .card-body, .icon-action-modal .card-body {
  padding: 20px 20px 10px 20px; }
.invite-user-modal .image, .icon-action-modal .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: -60px auto 0;
  background: #EEF2F5;
  border: 5px solid #fff;
  border-radius: 50%; }
  .invite-user-modal .image img, .icon-action-modal .image img {
    width: 48px;
    height: 48px; }
.invite-user-modal .help-text, .icon-action-modal .help-text {
  margin: 10px 0;
  color: #999; }
.invite-user-modal input, .icon-action-modal input {
  height: 40px; }
.invite-user-modal .add-more, .icon-action-modal .add-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: .9rem;
  color: #758ecd; }
  .invite-user-modal .add-more i, .icon-action-modal .add-more i {
    margin: 0 5px;
    color: inherit;
    font-size: 16px; }
.invite-user-modal .modal-footer, .icon-action-modal .modal-footer {
  padding: 10px 20px;
  background: #fcfcfc;
  text-align: right; }
  .invite-user-modal .modal-footer button, .icon-action-modal .modal-footer button {
    font-weight: 500;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    line-height: 0;
    background: #758ecd; }
    .invite-user-modal .modal-footer button:hover, .icon-action-modal .modal-footer button:hover {
      box-shadow: 0 14px 16px -22px rgba(127, 0, 255, 0.42), 0 4px 13px 0px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(127, 0, 255, 0.2) !important; }
    .invite-user-modal .modal-footer button.modal-dismiss, .icon-action-modal .modal-footer button.modal-dismiss {
      background: #ededed;
      border-color: #ededed;
      color: #444F60;
      box-shadow: none !important; }

.progress-block {
  position: relative;
  display: block;
  margin: 20px 10px; }
  .progress-block .progress {
    width: 100%;
    margin-bottom: 0; }
    .progress-block .progress.is-xs {
      height: .35rem !important; }
    .progress-block .progress.is-secondary::-webkit-progress-value {
      background-color: #758ecd; }
    .progress-block .progress.is-secondary::-moz-progress-bar {
      background-color: #758ecd; }
    .progress-block .progress.is-secondary::-ms-fill {
      background-color: #758ecd; }
  .progress-block .project-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
    .progress-block .project-meta .task-count {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .progress-block .project-meta .task-count span {
        display: block;
        padding: 0 5px;
        font-size: 1.1rem;
        font-weight: 500;
        color: #999; }
      .progress-block .project-meta .task-count i {
        font-size: 26px;
        color: #758ecd; }
    .progress-block .project-meta .due-date {
      font-weight: 500;
      color: #999; }

/* ==========================================================================
4. Tasks
========================================================================== */
.tasks-wrapper {
  padding: 16px;
  background: #E9EEF2;
  border: 1px solid #ededed;
  border-radius: 6px;
  margin-bottom: 20px; }
  .tasks-wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .tasks-wrapper .header span {
      display: block;
      font-size: 24px;
      color: #999;
      cursor: pointer; }
    .tasks-wrapper .header .dropdown .button {
      background: transparent;
      border: none;
      padding: 0; }
    .tasks-wrapper .header .dropdown .dropdown-item.is-flex {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .tasks-wrapper .header .dropdown .dropdown-item.is-flex .material-icons {
        font-size: 20px;
        margin-right: 5px; }
  .tasks-wrapper .task-card {
    position: relative;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
    background: #fff;
    overflow: visible; }
    .tasks-wrapper .task-card:last-child {
      margin-bottom: 0 !important; }
    .tasks-wrapper .task-card .card-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 0;
      min-width: 0;
      background: #758ecd;
      transition: all .5s; }
    .tasks-wrapper .task-card .card-inner {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tasks-wrapper .task-card .card-inner .task-meta span {
        display: block; }
      .tasks-wrapper .task-card .card-inner .task-meta .task-title {
        font-size: 1.3rem;
        font-weight: 500; }
      .tasks-wrapper .task-card .card-inner .task-meta .task-due-date {
        font-size: 1.2rem;
        color: #999; }
      .tasks-wrapper .task-card .card-inner .task-info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .tasks-wrapper .task-card .card-inner .task-info .task-members {
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .tasks-wrapper .task-card .card-inner .task-info .task-members .face {
            height: 44px;
            width: 44px;
            border-radius: 50%; }
            .tasks-wrapper .task-card .card-inner .task-info .task-members .face:not(:first-child) {
              margin-left: -12px; }
            .tasks-wrapper .task-card .card-inner .task-info .task-members .face.is-fake {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #758ecd;
              color: #fff;
              font-weight: 600;
              font-size: .9rem;
              border: 3px solid #fff; }
            .tasks-wrapper .task-card .card-inner .task-info .task-members .face img {
              border: 3px solid #fff;
              width: 42px;
              height: 42px;
              border-radius: 50%;
              max-height: 44px; }
        .tasks-wrapper .task-card .card-inner .task-info .subtasks-count {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0 30px; }
          .tasks-wrapper .task-card .card-inner .task-info .subtasks-count span {
            display: block;
            padding: 0 5px;
            font-size: 1.1rem;
            font-weight: 500;
            color: #999; }
          .tasks-wrapper .task-card .card-inner .task-info .subtasks-count i {
            font-size: 22px;
            color: #999; }
        .tasks-wrapper .task-card .card-inner .task-info .more-drop {
          display: flex;
          justify-content: center;
          align-items: center; }
          .tasks-wrapper .task-card .card-inner .task-info .more-drop span {
            color: #999; }

/* ==========================================================================
5. Dropdown
========================================================================== */
.dropdown .button {
  background: transparent;
  border: none;
  padding: 0; }
.dropdown .dropdown-item .material-icons {
  color: #999 !important; }
.dropdown .dropdown-item.is-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .dropdown .dropdown-item.is-flex .material-icons {
    font-size: 20px;
    margin-right: 5px;
    color: #999; }

/* ==========================================================================
6. Files and Activity
========================================================================== */
.project-files-wrapper, .project-activity-wrapper {
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 6px; }
  .project-files-wrapper .file-item, .project-files-wrapper .activity-item, .project-activity-wrapper .file-item, .project-activity-wrapper .activity-item {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    margin-top: 0 !important; }
    .project-files-wrapper .file-item .image, .project-files-wrapper .activity-item .image, .project-activity-wrapper .file-item .image, .project-activity-wrapper .activity-item .image {
      position: relative; }
      .project-files-wrapper .file-item .image img, .project-files-wrapper .activity-item .image img, .project-activity-wrapper .file-item .image img, .project-activity-wrapper .activity-item .image img {
        border-radius: 50%; }
      .project-files-wrapper .file-item .image .file-action, .project-files-wrapper .activity-item .image .file-action, .project-activity-wrapper .file-item .image .file-action, .project-activity-wrapper .activity-item .image .file-action {
        position: absolute;
        right: -18px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: #758ecd; }
        .project-files-wrapper .file-item .image .file-action.is-alt, .project-files-wrapper .activity-item .image .file-action.is-alt, .project-activity-wrapper .file-item .image .file-action.is-alt, .project-activity-wrapper .activity-item .image .file-action.is-alt {
          background: #7189ff; }
        .project-files-wrapper .file-item .image .file-action i, .project-files-wrapper .activity-item .image .file-action i, .project-activity-wrapper .file-item .image .file-action i, .project-activity-wrapper .activity-item .image .file-action i {
          font-size: 16px;
          color: #fff; }
    .project-files-wrapper .file-item .meta span, .project-files-wrapper .file-item .meta a, .project-files-wrapper .activity-item .meta span, .project-files-wrapper .activity-item .meta a, .project-activity-wrapper .file-item .meta span, .project-activity-wrapper .file-item .meta a, .project-activity-wrapper .activity-item .meta span, .project-activity-wrapper .activity-item .meta a {
      display: block; }
    .project-files-wrapper .file-item .meta a, .project-files-wrapper .activity-item .meta a, .project-activity-wrapper .file-item .meta a, .project-activity-wrapper .activity-item .meta a {
      font-size: 1.2rem;
      font-weight: 500; }
      .project-files-wrapper .file-item .meta a.is-activity, .project-files-wrapper .activity-item .meta a.is-activity, .project-activity-wrapper .file-item .meta a.is-activity, .project-activity-wrapper .activity-item .meta a.is-activity {
        font-size: 1rem; }
    .project-files-wrapper .file-item .meta span, .project-files-wrapper .activity-item .meta span, .project-activity-wrapper .file-item .meta span, .project-activity-wrapper .activity-item .meta span {
      display: flex;
      align-items: center;
      color: #999;
      font-size: .9rem; }
      .project-files-wrapper .file-item .meta span.activity-content, .project-files-wrapper .activity-item .meta span.activity-content, .project-activity-wrapper .file-item .meta span.activity-content, .project-activity-wrapper .activity-item .meta span.activity-content {
        font-size: 1rem;
        color: #444F60; }
        .project-files-wrapper .file-item .meta span.activity-content a, .project-files-wrapper .activity-item .meta span.activity-content a, .project-activity-wrapper .file-item .meta span.activity-content a, .project-activity-wrapper .activity-item .meta span.activity-content a {
          font-size: 1rem;
          padding: 0 4px; }
      .project-files-wrapper .file-item .meta span small, .project-files-wrapper .activity-item .meta span small, .project-activity-wrapper .file-item .meta span small, .project-activity-wrapper .activity-item .meta span small {
        font-weight: 500;
        font-size: .9rem; }
    .project-files-wrapper .file-item .meta .fa-circle, .project-files-wrapper .activity-item .meta .fa-circle, .project-activity-wrapper .file-item .meta .fa-circle, .project-activity-wrapper .activity-item .meta .fa-circle {
      font-size: 4px;
      color: #cecece;
      margin: 0 5px; }
    .project-files-wrapper .file-item .meta time, .project-files-wrapper .activity-item .meta time, .project-activity-wrapper .file-item .meta time, .project-activity-wrapper .activity-item .meta time {
      color: #999;
      font-size: 1rem;
      padding: 0 4px; }
    .project-files-wrapper .file-item .media-content, .project-files-wrapper .activity-item .media-content, .project-activity-wrapper .file-item .media-content, .project-activity-wrapper .activity-item .media-content {
      margin: 0 15px; }
    .project-files-wrapper .file-item .material-icons, .project-files-wrapper .activity-item .material-icons, .project-activity-wrapper .file-item .material-icons, .project-activity-wrapper .activity-item .material-icons {
      color: #999; }

.checklist-wrapper .checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px; }
  .checklist-wrapper .checklist-item .checklist-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab; }
    .checklist-wrapper .checklist-item .checklist-handle .material-icons {
      color: #999; }
  .checklist-wrapper .checklist-item .checklist-checkbox {
    position: relative;
    top: -3px;
    margin-left: 20px; }
    .checklist-wrapper .checklist-item .checklist-checkbox .b-checkbox {
      max-height: 13px;
      display: flex; }
      .checklist-wrapper .checklist-item .checklist-checkbox .b-checkbox label {
        padding-left: 0 !important; }
  .checklist-wrapper .checklist-item .checklist-text {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 10px; }

.delete-drop {
  display: none;
  text-align: center;
  margin: 20px 0;
  padding: 24px;
  border-radius: 6px;
  border: 2px dashed #ccc;
  font-size: 1.3rem;
  color: #999;
  background: #fafafa; }

.task-note {
  position: relative;
  width: 100%;
  border-radius: 8px;
  background: white;
  border: 1px solid #f9fafd;
  padding: 30px;
  margin-bottom: 20px; }
  .task-note.is-white {
    background: #fff;
    border: 1px solid #ededed; }
  .task-note .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .task-note .note-header .note-title {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .task-note .note-header .note-title img {
        display: block;
        height: 32px;
        width: 32px;
        border-radius: 50%; }
      .task-note .note-header .note-title h5 {
        font-weight: 500;
        margin: 0 10px !important; }
    .task-note .note-header .dropdown .material-icons {
      color: #444F60; }
  .task-note .note-body {
    padding-top: 10px; }
    .task-note .note-body p {
      font-size: 1.1rem;
      margin-bottom: 10px; }
    .task-note .note-body ul {
      list-style-type: disc;
      margin-top: 0; }
    .task-note .note-body a {
      font-weight: 500; }

.profile-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .profile-heading img {
    height: 65px;
    width: 65px;
    border-radius: 50%; }
  .profile-heading div {
    margin: 0 15px; }
    .profile-heading div .project-title {
      margin-bottom: 0 !important; }

/* ==========================================================================
7. Media Queries
========================================================================== */
@media (max-width: 767px) {
  .project-members-avatars .face {
    width: 40px;
    height: 40px; }
    .project-members-avatars .face img {
      width: 40px;
      height: 40px; }

  .projects-list-wrapper .list-header {
    flex-direction: column; }
    .projects-list-wrapper .list-header .list-filter {
      margin-top: 10px; }

  .layout-tabs .navtab-content {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .member-box img {
    width: 50px !important;
    height: 50px !important; }

  .task-card .task-meta {
    text-align: center;
    margin-bottom: 10px; }
  .task-card .card-inner, .task-card .task-info {
    flex-direction: column; }
  .task-card .more-drop {
    margin: 10px 0; }

  .activity-item {
    flex-direction: column; }
    .activity-item .meta {
      text-align: center;
      margin: 10px 0; }
      .activity-item .meta a, .activity-item .meta span {
        display: inline-block !important; }
    .activity-item .media-right {
      margin-left: 0; }

  .profile-heading h2, .profile-heading h4 {
    text-align: left; } }

/*# sourceMappingURL=project.css.map */
